.btn {
    width: auto;
    min-width: 129px;
    height: 48px;
    border-radius: 50px;
    cursor: pointer;
    border-width: 0px;
    -webkit-box-shadow: 0px 10px 24px -10px #000000;
    box-shadow: 0px 10px 24px -10px #000000;
  }
  
  .primary {
    color: var(--secondary);
    background-color: var(--primary);
  }
  .secondary {
    color: var(--primary);
    background-color: var(--secondary);
  }
  button:disabled {
    color: var(--primary);
    background-color: var(--secondary);
  }