.wrapper-title {
  justify-content: space-between;
}
.card-todos {
  position: relative;
}

.title-todo-list {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  width: 100px;
}
.list {
  list-style: none;
}
.btn-plus {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.btn-spand {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  background-color: var(--secondary);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  height: 17px;
}
.btn-spand > span {
  margin-right: 10px;
}